.venv/
*.pyc
dev-ignore/
report.md
eval_bundle/
*.DS_Store

# Secrets
.env

# Claude
CLAUDE.md
nanochat/extension/ebt/.claude/
nanochat/extension/ebt/CLAUDE.md
.claude/

# Pycache
__pycache__/
nanochat/extension/ebt/__pycache__/
nanochat/__pycache__/

# Logs
wandb/
nanochat/extension/ebt/logs/

# Externel code
nanochat/external/

# User prompts
prompt/




